body {
    font-family: Arial, Helvetica, sans-serif;
    min-height: 0em;
    height: 100%;
    display: grid;
    min-height: 100%;
}

.navbar {
    text-align: center;
    grid-column-start: 1;
    grid-column-end: 6;
    grid-row-start: 1;
    grid-row-end: 1;
    min-height: 40px;
    text-decoration: none;
    background-color: lightgrey;
}
.mini-text {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 3;
    grid-row-end: 3;
}

.title {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 2;
}

.content {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 2;
}

.nav a {
    padding: 5px;
    text-decoration: none;
    color: black;
}

.nav a:hover {
    text-decoration: none;
    color: blue;
}

.footer {
    text-align: center;
    grid-column-start: 1;
    grid-column-end: 6;
    grid-row-start: 6;
    grid-row-end: 6;
    background-color: lightgrey;
}

table, th, td {
    border: 1px solid black;
  }
