<!DOCTYPE html>

<title>Book</title>
<head>
    <meta charset="UTF-8">
    {% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="../style/index.css" /> 
    {% endblock %}
</head>
{% block body %}


{% include 'includes/header.html.twig' %}
<div class="example-wrapper">
    <h1>Books</h1>

    <ul>
    {% for book in books %}
        <ul> Namn </ul>
        <li>{{ book.name }}</li>
        <ul> ISBN-13 </ul>
        <li>{{ book.ISBN }}</li>
        <ul> Författare </ul>
        <li>{{ book.writer }}</li>
        <ul> Bild: </ul>
        <img src="../{{ book.img }}" width="200" height="400">

    {% endfor %}
</ul>
</div>

{% endblock %}
<div class ="footer">
    {% include 'includes/footer.html.twig' %}
</div>
