<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        {% block stylesheets %}
        <link rel="stylesheet" type="text/css" href="../style/style.css" /> 
        {% endblock %}
    </head>
    <body>
        {% include 'includes/header.html.twig' %}
        <h1 class="test"> Index </h1>

        <p> Detta är homepage, Jag använder mig av symfony ramverk.</p>

        <ul> Några sidor som finns:
            <li>
                <a href = {{ url("dice") }} >Dice<a/>
            </li>
    </body>

    {% include 'includes/footer.html.twig' %}
</html>
