<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
    </head>
    <body>
        {% include 'includes/header.html.twig' %}
        <h1> Index </h1>
    </body>

    {% include 'includes/footer.html.twig' %}
</html>
